body {
  background-color: antiquewhite;
  padding: 30px;
  color: midnightblue;
}
.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: rgb(187, 170, 170);
  padding: 20px 30px;
  border-radius: 15%;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}